<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h1>Création de compte</h1>
                        <p class="text-muted">Veuillez vous enregistrer</p>
                        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" placeholder="Prénom" required />
                                <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                            </div>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" placeholder="Nom" required />
                                <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                            </div>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" name="mail" [(ngModel)]="model.mail" #mail="ngModel" placeholder="Mail" required />
                                <div *ngIf="f.submitted && !mail.valid" class="help-block">Last Name is required</div>
                            </div>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" placeholder="username" Login />
                                <div *ngIf="f.submitted && !userName.valid" class="help-block">username is required</div>
                            </div>
                            <div class="input-group mb-1" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Mot de passe" required />
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                            </div>
                            <div class="input-group mb-1">
                                <button [disabled]="loading" class="btn btn-primary">Valider</button>                                                       
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>